.notificationComponent {
    padding-right: 4px;
}
.progress {
    visibility: hidden;
}
.notification {
    display: flex;
    align-items: center;
    background-color: transparent !important;
    box-shadow: none !important;
    overflow: visible;
}
