//Cart
.CartContainer {
  padding: 0 64px;
}

.RelativeProduct {
  padding-bottom: 152px;
}

//PayContainer
.PayContainer {
  display: flex;
  flex-direction: row;
  padding-left: 600px;
  justify-content: space-between;
  padding-top: 50px;
}
