//Payment page container
.PaymentContainer {
  padding: 200px 0;
  display: flex;
  flex-direction: row;
}

//Left content container
.leftContainer {
  width: auto;

  padding-left: 37px;
  padding-right: 68px;
}

//Whole check list
.SelectionContainer {
  padding-top: 50px;
  padding-bottom: 100px;
}

//Check
.checkContainer {
  width: 650px;
  height: 55px;
  border: 1px solid #c4c4c4;
  border-bottom: 0px;
  display: flex;
  align-items: center;
}

//ButtonContainer
.ButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
